@charset "utf-8";
.mainframe img{
	clear:both;
	padding: 20px 0 20px 0;

}
.mainframe .content{
	clear:both;
	margin: 10px 60px 10px 60px;
	font-family: "微軟正黑體", "微软雅黑", "华文细黑";
	font-size:18px;
	color:#a0a0a0;
	text-indent:2em;
	line-height:45px;
}