@charset "utf-8";
body{
	margin:0 auto;
	padding:0;
	background-color:#ffffff;
	width: 100%;
	min-width: 966px;
}
.baseframe{
	clear:both;
	width:100%;
	margin:0 auto;
}
.baseframe img{
	margin:0 auto;
	width:100%;
}
.baseframe .enter{
	float:left;
	padding: 6px 30px 0px 30px;
	position:absolute;
	top: 60%;
	left: 30%;
	border:solid 2px #6baaf2;
	border-radius:10px;
	color:#6baaf2;
	font-family:"Kalinga", "Arial";
	font-size:24px;
	letter-spacing:0.1em;
	cursor:pointer;
}
.clearframe{
	clear:both;
}